
<!-- related Section -->
    <section id="links">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Links</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

<div class="row">
<div class="col-lg-12 text-center">
<div> <p class="large text-muted"><a href="https://uwaterloo.ca/knowledge-integration/node/1"><i class="fa fa-link"></i></a> Knowledge Integration at the University of Waterloo</p>
<div> <p class="large text-muted"><a href="http://communitiesofintegration.weebly.com/"><i class="fa fa-link"></i></a> Communities of Integration</p>
<div> <p class="large text-muted"><a href="http://srpoise.org/"><i class="fa fa-link"></i></a> Socially Relevant Philosophy of / in Science and Engineering</p>
<div> <p class="large text-muted"><a href="http://www.cf.ac.uk/socsi/contactsandpeople/harrycollins/expertise-project/"><i class="fa fa-link"></i></a> Studies of Expertise and Experience</p>
<div> <p class="large text-muted"><a href="http://cns.asu.edu/research/stir"><i class="fa fa-link"></i></a> Socio-Technical Integration Research (STIR)</p>
<div> <p class="large text-muted"><a href="http://www.cals.uidaho.edu/toolbox/"><i class="fa fa-link"></i></a> The Toolbox Project</p>
<div> <p class="large text-muted"><a href="http://communitiesofintegration.weebly.com/trading-zones.html"><i class="fa fa-link"></i></a> Trading Zones</p>
<div> <p class="large text-muted"><a href="http://femmss.org/"><i class="fa fa-link"></i></a> Feminist Epistemologies, Methodologies, Metaphysics, and Science Studies (FEMMSS) </p>
<div> <p class="large text-muted"><a href="http://wici.ca/"><i class="fa fa-link"></i></a> Waterloo Institute for Complexity and Innovation</p>
</div>
</div>
</div>

                </div>
            </div>
        </div>
    </section>