
<!-- Research Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Strategy</h2>
                    <h3 class="section-subheading text-muted">We are combining citation analysis with a survey of philosophers of science and qualitative case studies.</h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="research-heading">Citation Analysis</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>

                    <p class="text-muted">Nullam placerat commodo orci a maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sed nunc sit amet mi pharetra consectetur a a mauris. Donec vestibulum scelerisque vehicula. Quisque ultricies neque eget finibus volutpat. Aliquam consequat eros at erat placerat, nec luctus urna faucibus. Proin placerat dolor mauris, in convallis elit luctus vitae. Morbi a massa ligula. Nunc auctor augue et nunc consectetur aliquet. Vestibulum sagittis lacus ullamcorper lacinia aliquam. Aenean vel urna id neque dapibus lobortis sit amet non sapien.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="research-heading">Philosohy of Science Survey</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra ante pretium pharetra tincidunt. Integer nec elit in ligula eleifend congue. Vestibulum consectetur convallis ex eu faucibus. Nulla eu interdum libero. Quisque non scelerisque turpis. Fusce consectetur, diam vitae tempor tempor, nulla nisi vulputate orci, ac mattis ipsum arcu at sem. Sed non enim eros. Cras ipsum justo, ullamcorper nec vulputate eget, mattis eu libero. Nunc feugiat urna placerat ligula fermentum, dignissim congue diam ullamcorper. In sit amet massa lacinia, scelerisque felis id, aliquam risus. Sed mollis eros nec libero bibendum molestie.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="research-heading">Qualitative Case Studies</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>

                    <p class="text-muted">Nullam placerat commodo orci a maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sed nunc sit amet mi pharetra consectetur a a mauris. Donec vestibulum scelerisque vehicula. Quisque ultricies neque eget finibus volutpat. Aliquam consequat eros at erat placerat, nec luctus urna faucibus. Proin placerat dolor mauris, in convallis elit luctus vitae. Morbi a massa ligula. Nunc auctor augue et nunc consectetur aliquet. Vestibulum sagittis lacus ullamcorper lacinia aliquam. Aenean vel urna id neque dapibus lobortis sit amet non sapien.</p>

                </div>
            </div>
        </div>
    </section>