<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">

                    <b>Principle Investigators</b>

                    <p class="large text-muted"><b>Katie Plaisance</b> is an Assistant Professor in the Department of Knowledge Integration at the University of Waterloo, cross-appointed to the Department of Philosophy...</p>

                    <p class="large text-muted"><b>John McLevey</b> is an Assistant Professor in the Department of Knowledge Integration at the University of Waterloo, cross-appointed to the Departments of Sociology and Legal Studies, and Environment and Resource Studies...</p>

                    <b>Research Assistants</b>

                    <p class="large text-muted"><b>Janet Michaud</b> is a PhD student in the philosophy department at Waterloo. Her main areas of research span a number of socially relevant topics in philosophy such as: social and feminist epistemologies, feminist and engaged philosophy of science, experimental philosophy and interdisciplinary collaboration. She is involved in a number of collaborative experimental projects looking at values in science communication and coercion in controversial police interrogation tactics.</p>

                    <p class="large text-muted"><b>Ben Nelson</b>'s main area of area interest is in the philosophy of law, and specifically on the unpublished aspects of positive law. In addition, he is working on projects in the pragmatics of intellectual good faith, the epistemology of intuitions, and evolutionary game theory in the philosophy of the social sciences. A unifying feature of his work is the idea of tacit normativity, which is an idea he finds weird, and therefore fascinating. His blog can be found <a href="http://blsnelson.wordpress.com/">here</a>, where he posts about issues in the profession of philosophy, including the <a href="http://blsnelson.wordpress.com/2014/05/13/the-natural-sciencephilosophy-connection/">philosophy of science</a>.</p>

                    <p class="large text-muted"><b>Sasha Graham</b> is a Bachelor of Knowledge Integration Honors student at the University of Waterloo... </p>

                </div>
            </div>
        </div>
    </section>